<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BackTest</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backtestingOutcomes/strategies">Strategies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backtestingOutcomes">Backtesting Outcomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/backtestingOutcomes/new">New backtesting</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        RIC constuction
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/findingRICs/showRIC">Constructed RICs</a>
                        <a class="dropdown-item" href="/findingRICs/newRIC">Construct New RIC</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</nav>